<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
<aside id="fh5co-aside" role="complementary" class="border js-fullheight">
    <h1 id="fh5co-logo">
        <a routerLink="home"><span class="aside-logo-m">M</span></a>
    </h1>
    <nav id="fh5co-main-menu" role="navigation">
        <ul>
            <li routerLinkActive="fh5co-active"><a routerLink="home">Home</a></li>
            <li routerLinkActive="fh5co-active"><a routerLink="about">Sobre mí</a></li>
            <li routerLinkActive="fh5co-active"><a routerLink="contacto">Contacto</a></li>
            <li routerLinkActive="fh5co-active"><a routerLink="blog">Blog</a></li>
        </ul>
    </nav>
    <div class="fh5co-footer">
        <p><small><span>Martin Barria Joost</span></small></p>
        <ul>
            <li><a target="_blank" href="https://www.facebook.com/martinofaries"><i class="icon-facebook"></i></a></li>
            <li><a target="_blank" href="https://twitter.com/BarriaJoost"><i class="icon-twitter"></i></a></li>
            <li><a target="_blank" href="https://www.instagram.com/martindennisbg/"><i class="icon-instagram"></i></a></li>
            <li><a target="_blank" href="https://www.linkedin.com/in/mart%C3%ADn-barria-joost-b35958181/"><i class="icon-linkedin"></i></a></li>
        </ul>
    </div>
</aside>