<div id="fh5co-main">
    <div class="fh5co-narrow-content">
        <div class="row">
            <div class="col-md-5">
                <h2 class="fh5co-heading animate-box fadeInLeft animated" data-animate-effect="fadeInLeft">About Us Nitro <span>A Web Studio</span></h2>
                <p class="fh5co-lead animate-box fadeInLeft animated" data-animate-effect="fadeInLeft">Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                <p class="animate-box fadeInLeft animated" data-animate-effect="fadeInLeft"> Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
            </div>
            <div class="col-md-6 col-md-push-1 animate-box fadeInRight animated" data-animate-effect="fadeInLeft">
                <img src="assets/images/img_1.jpg" alt="Free HTML5 Bootstrap Template" class="img-responsive">
            </div>
        </div>

    </div>

    <div class="fh5co-narrow-content  animate-box" data-animate-effect="fadeInLeft">
        <h2 class="fh5co-heading">The Team
        </h2>

        <div class="row">
            <div class="col-md-4 fh5co-staff">
                <img src="assets/images/person3.jpg" alt="Free HTML5 Bootstrap Template" class="img-responsive">
                <h3>Athan Smith</h3>
                <h4>Co-Founder, CEO</h4>
                <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
                <ul class="fh5co-social">
                    <li><a href="#"><i class="icon-google"></i></a></li>
                    <li><a href="#"><i class="icon-dribbble"></i></a></li>
                    <li><a href="#"><i class="icon-twitter"></i></a></li>
                    <li><a href="#"><i class="icon-facebook"></i></a></li>
                    <li><a href="#"><i class="icon-instagram"></i></a></li>
                </ul>
            </div>
            <div class="col-md-4 fh5co-staff">
                <img src="assets/images/person2.jpg" alt="Free HTML5 Bootstrap Template" class="img-responsive">
                <h3>Nathalie Kosley</h3>
                <h4>Co-Founder, CTO</h4>
                <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
                <ul class="fh5co-social">
                    <li><a href="#"><i class="icon-google"></i></a></li>
                    <li><a href="#"><i class="icon-dribbble"></i></a></li>
                    <li><a href="#"><i class="icon-twitter"></i></a></li>
                    <li><a href="#"><i class="icon-facebook"></i></a></li>
                    <li><a href="#"><i class="icon-instagram"></i></a></li>
                </ul>
            </div>
            <div class="col-md-4 fh5co-staff">
                <img src="assets/images/person4.jpg" alt="Free HTML5 Bootstrap Template" class="img-responsive">
                <h3>Yanna Kuzuki</h3>
                <h4>Co-Founder, Principal</h4>
                <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
                <ul class="fh5co-social">
                    <li><a href="#"><i class="icon-google"></i></a></li>
                    <li><a href="#"><i class="icon-dribbble"></i></a></li>
                    <li><a href="#"><i class="icon-twitter"></i></a></li>
                    <li><a href="#"><i class="icon-facebook"></i></a></li>
                    <li><a href="#"><i class="icon-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="fh5co-counters" style="background-image: url(assets/images/hero.jpg);" data-stellar-background-ratio="0.5" id="counter-animate">
        <div class="fh5co-narrow-content animate-box">
            <div class="row">
                <div class="col-md-4 text-center animate-box">
                    <span class="fh5co-counter js-counter" data-from="0" data-to="67" data-speed="5000" data-refresh-interval="50"></span>
                    <span class="fh5co-counter-label">Clients Worked With</span>
                </div>
                <div class="col-md-4 text-center animate-box">
                    <span class="fh5co-counter js-counter" data-from="0" data-to="130" data-speed="5000" data-refresh-interval="50"></span>
                    <span class="fh5co-counter-label">Completed Projects</span>
                </div>
                <div class="col-md-4 text-center animate-box">
                    <span class="fh5co-counter js-counter" data-from="0" data-to="27232" data-speed="5000" data-refresh-interval="50"></span>
                    <span class="fh5co-counter-label">Line of Codes</span>
                </div>
            </div>
        </div>
    </div>

    <div class="fh5co-narrow-content fh5co-border-bottom">
        <h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">This Is What <span>We Love To Do</span></h2>
        <div class="row">
            <div class="col-md-6">
                <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
                    <div class="fh5co-icon">
                        <i class="icon-strategy"></i>
                    </div>
                    <div class="fh5co-text">
                        <h3>Strategy</h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
                    <div class="fh5co-icon">
                        <i class="icon-telescope"></i>
                    </div>
                    <div class="fh5co-text">
                        <h3>Explore</h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
                    <div class="fh5co-icon">
                        <i class="icon-circle-compass"></i>
                    </div>
                    <div class="fh5co-text">
                        <h3>Direction</h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
                    <div class="fh5co-icon">
                        <i class="icon-tools-2"></i>
                    </div>
                    <div class="fh5co-text">
                        <h3>Expertise</h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="fh5co-narrow-content">
        <div class="row">
            <div class="col-md-4 animate-box" data-animate-effect="fadeInLeft">
                <h1 class="fh5co-heading-colored">Start Your Project Now!</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 animate-box" data-animate-effect="fadeInLeft">
                <p class="fh5co-lead">Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                <p><a href="#" class="btn btn-primary btn-outline">Get Started</a></p>
            </div>
            <div class="col-md-7 col-md-push-1">
                <div class="row">
                    <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                        <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
                    </div>
                    <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                        <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>