/* You can add global styles to this file, and also import other style files */

a:hover,
a:link,
a:focus {
    outline: none;
    text-decoration: none;
}

.aside-logo-m {
    background: rgba(255, 0, 132, 1);
    background: -moz-linear-gradient(left, rgba(255, 0, 132, 1) 0%, rgba(82, 34, 59, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 0, 132, 1)), color-stop(100%, rgba(82, 34, 59, 1)));
    background: -webkit-linear-gradient(left, rgba(255, 0, 132, 1) 0%, rgba(82, 34, 59, 1) 100%);
    background: -o-linear-gradient(left, rgba(255, 0, 132, 1) 0%, rgba(82, 34, 59, 1) 100%);
    background: -ms-linear-gradient(left, rgba(255, 0, 132, 1) 0%, rgba(82, 34, 59, 1) 100%);
    background: linear-gradient(to right, rgba(255, 0, 132, 1) 0%, rgba(82, 34, 59, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ff0084', endColorstr='#52223b', GradientType=1);
    color: white;
    font-size: 2em;
    padding: 5% 10%;
    border-radius: 1000px;
}